.political {
    background-color: #7887AB;
}
.political a {
	color: #FFE3AA;
}
.birth_death {
	background-color: #F8A6AC;
}
.birth_death a {
	color: #0924be;
}
.church {
	background-color: #FFE3AA;
}

body {
	background-color: #efe;
}
/* from HTML Boilerplate https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
