body {
    margin-left: 8px;
}

.goog-te-gadget-simple {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li { 
    float: left;
    margin-bottom: 1.0em;
    margin-right: 0.5em;
}

main {
    clear: left;
    background-color: white;
    padding: 0 0 15em 1em;
}

#log li {
    border: 1px solid gray;
    font-weight: bolder;
    border-radius: 6px;
    padding: 10px;
    list-style: none;
}

/* Start adventure styles */

.inactive {
    background-color: white;
    color: gray; 
}
.active {
    background-color: #e6ffe6;
    color: green;
    border: 1px solid #4caf50;
}
.win {
    background-color: yellow;
    color: green;
}
.lose {
    background-color: black;
    color: red;
}

/* End adventure styles */

.news { /* News on main page */
    text-align: left;
    border: 2px solid black;
}

#google_translate_element {
    z-index: 10; /* Put it on top of everything */
}
.topmargin a {
    margin-top: 4px;
}