@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body { /* All pages */
    margin: auto 8px;
}

.answer {
    display: none;
}

.inactive {
    background-color: white;
    color: gray; 
}
.active {
    background-color: #e6ffe6;
    color: green;
    border: 1px solid #4caf50;
    font-weight: bolder;
}
.win {
    background-color: yellow;
    color: green;
}
.lose {
    background-color: black;
    color: red;
}

#log li {
    border: 1px solid gray;
    
    border-radius: 6px;
    padding: 10px;
    list-style: none;
}