.grid {
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
}

.grid div {
	width: 20px;
	height: 20px;
}

.snake {
	background-color: blue;
}

.apple {
	background-color: purple;
}

.controller button {
    padding: 1em 6px 1em 6px;
}

.controller {
	width:20%;
	align-items: center;
}

.controller .ud {
	width: 100%;
}

.controller .lr {
	width: 48%;
}