.controller button {
    padding: 1em 6px 1em 6px;
}

.controller {
	width:200px;
	align-items: center;
	float: right;
}

.controller .ud {
	width: 100%;
}

.controller .lr {
	border: 1;
	width: 49%;
}